node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
firebase-config.js

# macOS
.DS_Store

# Debug
*.log

# VSCode
.vscode/

# PowerShell scripts (opcionales)
*.ps1
